@font-face {
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    src: url(../fonts/helvetica.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-Bold", Helvetica, Arial, sans;
    src: url(../fonts/helvetica-bold.woff2);
    font-weight: 700;   
    font-style: normal;
}