@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';


.header {

    border-bottom: 1px solid #CACAD6;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;

    @media (max-width:568px) {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

.menu-btn {
    display: none;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width:820px) {
        display: flex;
    }

    span {
        height: 2px;
        background-color: #070707;
        width: 100%;
    }
}

.menu {
    display: flex;
    column-gap: 20px;

    @media (max-width:820px) {
        transform: translateX(-100%);
        transition: transform 0.5s;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 420px;
        background-color: #070707;
        color: #CACAD6;
        padding: 100px 0;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width:420px) {
        width: 100%;
    }

    &.active {
        transform: translateX(0%);
    }

    // .menu__link

    &__link {
        @media (max-width:820px) {
            font-size: 24px;
            display: inline-block;
            padding: 10px 0;
        }
    }
}

.logo {
    justify-self: center;
    display: flex;
}

.basket {
    position: relative;
    justify-self: end;

    span {
        font-size: 11px;
        width: 13px;
        height: 13px;
        background-color: #3c3c42;
        border-radius: 50%;
        display: flex;
        color: #fff;
        line-height: 0;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: -3px;
        justify-content: center;
    }
}


.top {
    min-height: calc(100vh - 81px);
    background: url(../images/top-bg.jpg) no-repeat center/cover;
    margin-bottom: 100px;

    @media (max-width:640px) {
        text-align: center;
    }

    // .top__text

    &__text {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 50px;
    }
}

.title {
    padding-top: 19%;
    font-size: 96px;
    line-height: 110px;
    font-weight: 400;
    margin-bottom: 10px;

    @media (max-width:768px) {
        font-size: 66px;
    }

    @media (max-width:430px) {
        font-size: 48px;
    }
}

.subtitle {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 5px;

    @media (max-width:768px) {
        font-size: 24px;
    }

    @media (max-width:430px) {
        font-size: 20px;
    }
}

.buy-btn {
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    display: flex;
    padding: 0;
    text-transform: uppercase;
    padding: 1px;

    @media (max-width:640px) {
        flex-direction: column;
        margin: 0 auto;
    }

    // .buy-btn__text

    &__text {
        color: #F6F4F5;
        padding: 20px 110px;
    }

    // .buy-btn__price

    &__price {
        color: #5C5C5E;
        background-color: #F6F4F5;
        padding: 20px 105px;
    }
}

.buy-text {
    font-size: 13px;
    line-height: 15px;

    @media (max-width:640px) {
        margin-top: 10px;
    }
}



.features {
    margin-bottom: 100px;

    // .features__titles

    &__titles {
        display: flex;

        @media (max-width:568px) {
            display: block;
            margin-bottom: 5px;
        }
    }

    // .features__title

    &__title {
        flex-basis: 300px;
        padding-right: 20px;
    }

    // .features__text

    &__text {
        max-width: 330px;
        font-size: 36px;
        line-height: 41px;
        text-transform: uppercase;
        margin-bottom: 2px;

        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width:568px) {
            margin-top: 10px;
        }

        @media (max-width:430px) {
            font-size: 32px;
        }
    }
}


.tabs {
    display: grid;
    grid-template-columns: 300px auto;

    @media (max-width:992px) {
        display: block;
    }

    // .tabs__btn

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        font-weight: 700;
        margin-bottom: 10px;

        @media (max-width:992px) {
            display: block;
            column-count: 2;
        }

        @media (max-width:430px) {
            column-count: 1;
        }
    }

    // .tabs__btn-item

    &__btn-item {
        @media (max-width:992px) {
            display: block;
            margin-bottom: 10px;
        }

        &.active {
            color: #070707;
        }
    }

    // .tabs__conten-item

    &__conten-item {
        display: none;

        &.active {
            display: grid;
            grid-template-columns: auto 280px;
            grid-template-rows: auto 150px;
            gap: 40px;

            @media (max-width:568px) {
                display: block;
            }
        }

    }

    // .tabs__conten-img

    &__conten-img {
        grid-row: 1/-1;
        align-self: stretch;
        object-fit: cover;
    }

    // .tabs__content-box

    &__content-box {
        h3 {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 10px;
        }
    }
}

.video {
    grid-column: 2/3;
    width: 280px;
    height: 150px;
    background: url(../images/content-bg.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 9px 10px;

    @media (max-width:568px) {
        margin-top: 10px;
        width: auto;
        height: 250px;
    }

    span {
        font-size: 13px;
        line-height: 15px;
        color: #F6F4F5;
    }

    // .video__btn

    &__btn {
        margin-bottom: 9px;
        padding-left: 22px;
    }
}


.game {
    padding-bottom: 100px;

    &__title {
        margin-bottom: 50px;
    }

    // .game__inner

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
        }

        @media (max-width: 568px) {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }

    // .game__descr

    &__descr {
        padding-right: 10px;
    }

    // .game__descr-title

    &__descr-title {
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 41px;
        text-transform: uppercase;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    // .game__descr-text

    &__descr-text {
        margin-bottom: 30px;
    }

    // .game__link

    &__link {
        display: inline-block;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        padding: 15px 46px;
        text-transform: uppercase;
        width: 225px;
        text-align: center;
        border: 1px solid;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;

    }

    // .game__item

    &__item {
        border: 1px solid;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    // .game__item-img

    &__item-img {
        margin-bottom: 10px;
    }

    // .game__item-title

    &__item-title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 28px;
        color: #070707;
    }

    // .game__item-text

    &__item-text {
        margin-bottom: 40px;
    }

    // .game__item-link

    &__item-link {
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: auto;
    }
}

.buy {
    margin-bottom: 109px;
    position: relative;
    text-align: center;
    overflow-x: hidden;
    // .buy__bg

    &__bg {
        font-weight: 700;
        font-size: 400px;
        line-height: 390px;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
        position: absolute;
        z-index: -1;
        animation: line-text 6s linear 1s infinite;
    }

    // .buy__img

    &__img {
        margin-bottom: 30px;
    }

    .buy-btn {
        margin: 0 auto 10px;

    }
}

@keyframes line-text {
    from {
        transform: translateX(115%);
        transform-origin: left center;
    }

    to {
        transform: translateX(-115%);
        transform-origin: right center;

    }
}


.equipment {
    margin-bottom: 100px;

    // .equipment__title

    &__title {
        margin-bottom: 50px;
    }

    // .equipment__box

    &__box {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px 30px;

        @media (max-width: 820px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 568px) {
            display: block;
        }
    }


    &__box-item--one {
        grid-row: 1/-1;
    }

    // .equipment__box-img

    &__box-img {
        margin-bottom: 10px;

        @media (max-width: 568px) {
            width: 100%;
        }
    }

    // .equipment__box-text

    &__box-text {
        @media (max-width: 568px) {
            margin-bottom: 10px;
        }
    }

    // .equipment__box-title

    &__box-title {
        font-size: 36px;
        line-height: 41px;
        text-transform: uppercase;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 568px) {
            margin-bottom: 10px;
        }
    }
}


.promo {
    margin-bottom: 100px;

    text-align: center;

    &__inner {
        background: url(../images/pomo-bg.jpg) no-repeat center/cover;
        min-height: 500px;
        position: relative;
    }

    // .promo__btn

    &__btn {
        font-weight: 700;
        color: #FFFFFF;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        padding: 16px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}


.accessories {
    margin-bottom: 100px;

    // .accessories__title

    &__title {
        margin-bottom: 30px;
    }

    // .accessories__text

    &__text {
        font-size: 36px;
        line-height: 41px;
        text-transform: uppercase;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }

    // .accessories__items

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @media (max-width: 568px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }
    }

    // .accessories__item

    &__item {
        padding: 20px;
        border: 1px solid;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .accessories__item-img

    &__item-img {
        margin-bottom: 10px;
    }

    // .accessories__item-title

    &__item-title {
        font-size: 24px;
        line-height: 28px;
        color: #070707;
        margin-bottom: 10px;
        min-height: 67px;
    }

    // .accessories__item-text

    &__item-text {
        margin-bottom: 42px;
        margin-top: auto;
    }

    // .accessories__item-price

    &__item-price {
        font-weight: 700;
        color: #070707;
        margin-bottom: 20px;
        margin-top: auto;
    }

    // .accessories__item-btn

    &__item-btn {
        font-weight: 700;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        border: 1px solid;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        padding: 6px;
        text-align: center;
        width: 100%;
    }
}


.contacts {
    margin-bottom: 100px;

    // .contacts__title

    &__title {
        font-size: 24px;
        line-height: 28px;
        color: #070707;
        margin-bottom: 9px;

    }

    // .contacts__inner

    &__inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: 820px) {
            display: block;
        }
    }

    // .contacts__form

    &__form {
        flex-basis: 600px;

        @media (max-width: 820px) {
            margin-bottom: 20px;
        }
    }

    // .contacts__text

    &__text {
        font-size: 13px;
        line-height: 15px;
    }

    // .contacts__email

    &__email {
        margin-top: auto;
    }
}

.form {
    margin-bottom: 10px;
    position: relative;
    // .form__input

    &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #cacad6;
        padding: 22px 70px 22px 10px;
    }

    // .form__btn

    &__btn {
        font-weight: 700;
        color: #5C5C5E;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #CACAD6;
        padding: 16px;
        border-radius: 50%;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        bottom: 5px;
    }
}


.footer {
    border-top: 1px solid #CACAD6;
    border-bottom: 1px solid #CACAD6;
    margin-bottom: 44px;
    padding: 30px 0;

    .menu {
        @media (max-width: 1140px) {
            display: none;
        }
    }

    .nav {
        @media (max-width: 1140px) {
            display: flex;
            justify-content: space-between;
        }
    }

    .logo {
        @media (max-width: 1140px) {
            margin-right: 20px;
        }
    }
}

.social {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
}